# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 4
print(number)

4

##### Assinging float

In [2]:
num_float = 2.45
print(num_float)

2.45

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num = 5
num2 = 23
total = num + num2
print(total)

28

##### Subtraction

In [5]:
num1 = 4
num2 = 8
difference = num1 - num2
print(difference)

-4

##### Multiplication

In [6]:
num1 = 234
num2 = 94
product = num1 * num2
print(product)

21996

##### Division

In [7]:
num1 = 9
num2 = 3
quotient = num1/num2
print(quotient)

3.0

##### Floor Division

In [12]:
num1 = 10
num2 = 4
floor_quotient = num1//num2
print(floor_quotient)

2

##### Modulo

In [9]:
num1 = 34234
mod = num1%10
print(mod)

4

##### Exponential

In [13]:
num1 = 4
square = num1**2
print(square)

16

### String Input-Output

##### String Assignment

In [14]:
word = "This is a string"
print(word)

This is a string

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
word2 = ', and so is this!'
print(f'{word}{word2}')

This is a string, and so is this

##### String Concatenation

In [23]:
concat = word + word2
print(concat)

This is a string, and so is this

##### Type Conversion

In [24]:
num_string = '1234'
num = int(num_string)
print(type(num))

<class 'int'>

##### input()

In [32]:
age = 'a'
name = input("What is your name? ")
while age.isalpha():
    age = input("What is your age? ")
age = int(age)    
print(age)

What is your name? Alex
What is your age? 37
37

##### format()

In [ ]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f'{age} is a great time in life!'
print(result_again)

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look good for your age!" %age
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color = input("Please enter a color: ")
year = input("Enter the year: ")
make = input("Enter the make: ")
model = input("Enter the model: ")
print(f'{color} {year} {make} {model}')

### If Statements

In [4]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num = 5
if num == 5:
    print('num equals 5')
if num != 6:
    print('num is not 6')
    
num2 = 3
if num < num2:
    print('num less than num2')
elif num > num2:
    print('num greater than num2')
else:
    print('num and num2 are equal')
    
    
if num == 5 and num2 == 3:
    print('AND statement is TRUE')
else:
    print('AND statement is FALSE')

if num == 3 or num2 == 3:
    print('At least one of the numbers is 3')

num equals 5
num is not 6
num greater than num2

##### 'is' keyword

In [ ]:
num = 5
if num is 5:
    print('num is 5')

##### 'in' keyword

In [ ]:
num = 8
if num in range(10):
    print('num is between 0 and 9')
else:
    print('num is outside the range')

##### 'not in' keyword'

In [ ]:
num = 7
if num not in range(10):
    print('num is outside the range 0 to 9')
else:
    print('num is inside the raange 0 to 9')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [8]:
word = input("Enter a word: ")
if 'p' in word or 'P' in word:
    print("Input includes 'p'")
else:
    print("Input does not include 'p'")

Enter a word: APPLE
Input includes 'p'

## Using 'and'/'or' with If Statements

In [9]:
num_1, num_2, num_3, num_4 = 15, 3, 10, 3
if num_1 / 5 == num_2 and num_3 - 7 == num_4:
    print('True and True')
    
if num_1 == num_3 or num_2 == num_4:
    print('at least one is true')

True and True
at least one is true

### Elif Statements

In [ ]:
name = input("What is your name? ")

if name == 'Brandon':
    print('Name is Brandon')
elif name == 'John':
    print('Name is John')
elif name == 'Rae':
    print('Name is Rae')
elif name == 'Melissa':
    print('Name is Melissa')
else:
    print('Name is something else')

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
name = 'Alex Carlseen'

for letter in name:
    print(letter)

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [12]:
name  = 'Alex Carlseen'

for letter in name:
    if letter in 'aeiou':
        continue
    print(letter)

A
l
x

C
r
l
s
n

##### Break Statement

In [ ]:
# will break out of current loop

In [11]:
for x in range(238):
    if x == 7:
        break
    print(x)

0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = 'Alex Carlseen'

for letter in name:
    pass

##### Double For Loops

In [13]:
for x in range(5):
    for y in range(5):
        print(x*y)

0
0
0
0
0
0
1
2
3
4
0
2
4
6
8
0
3
6
9
12
0
4
8
12
16

### While Loops

In [14]:
while x <5:
    print(x)
    x += 1

4

##### Looping 'While True'

In [16]:
game_over = False
x = 0
while True:
    print('Infinite Loop')
    if game_over == True:
        break
    x += 1
    if x > 9:
        game_over = True

Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop
Infinite Loop

##### While & For Loops Used Together

In [18]:
num = 0

while num < 5:
    print(f'While loop iteration: {num}')
    num += 1
    for x in range(5):
        print(f'For loop iteration: {x}')

While loop iteration: 0
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
While loop iteration: 1
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
While loop iteration: 2
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
While loop iteration: 3
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4
While loop iteration: 4
For loop iteration: 0
For loop iteration: 1
For loop iteration: 2
For loop iteration: 3
For loop iteration: 4

### Built-In Functions

##### range()

In [19]:
x = 5
if x in range(10):
    print('X is in range')

X is in range

##### len()

In [20]:
name = 'Alex Carlseen'
name_length = len(name)

print(name_length)

13

##### help()

In [ ]:
help(range)

##### isinstance()

In [22]:
#Check a variable to find out what object family (or data type) it belongs to
#Returns a boolean
 
num = 49.3
print(isinstance(num, int))

False

##### abs()

In [21]:
num = abs(-19)
print(num)

19

### Try and Except

In [23]:
nums = [1, 2, 3, 4, 5]

for i in range(10):
    try:
        print(nums[i])
    except IndexError:
        print('Index Error')

1
2
3
4
5
Index Error
Index Error
Index Error
Index Error
Index Error

### Lists

##### Declaring Lists

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

##### Indexing a List

In [29]:
my_list = [1, 2, 3, 4, 5]
my_list_length = len(my_list)
for i in range(my_list_length):
    print(f'{my_list[i]} is at index {i}')
    
print(my_list[::2])
print(my_list[::-1])
print(my_list[1:4])

1 is at index 0
2 is at index 1
3 is at index 2
4 is at index 3
5 is at index 4
[1, 3, 5]
[5, 4, 3, 2, 1]
[2, 3, 4]

##### .append()

In [26]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_list.append('apple')
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'apple']

##### .insert()

In [32]:
my_list = [x for x in range(20)]
my_list.insert(4, 'apple')
print(my_list)

[0, 1, 2, 3, 'apple', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

##### .pop()

In [33]:
while my_list:
    print(my_list.pop())

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
apple
3
2
1
0


##### .remove()

In [34]:
my_list = [x for x in range(20)]
my_list.insert(4, 'apple')
print(my_list)
my_list.remove('apple')
print(my_list)

[0, 1, 2, 3, 'apple', 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

##### del()

In [35]:
print(my_list)
del(my_list[6])
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

##### Concatenating Two Lists

In [36]:
another_list = ['apple', 'banana', 'cranberry', 'dragonfruit']
big_list = my_list + another_list
print(big_list)

[0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 'apple', 'banana', 'cranberry', 'dragonfruit']

##### Lists Within Lists

In [37]:
names = ['Sam', 'Max', 'Nic', ['Jon', 'Sal', 'Ben', ['Jim', 'Amy', 'Dan']]]

print(names)
print(names[3][3][1])

['Sam', 'Max', 'Nic', ['Jon', 'Sal', 'Ben', ['Jim', 'Amy', 'Dan']]]
Amy

##### Looping Through Lists

In [40]:
for item in names:
    print(item)

for x in range(len(names)):
    print(names[x])

Sam
Max
Nic
['Jon', 'Sal', 'Ben', ['Jim', 'Amy', 'Dan']]
Sam
Max
Nic
['Jon', 'Sal', 'Ben', ['Jim', 'Amy', 'Dan']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
# cubes = [x**3 for x in range(11) if x**3 < 1000]
x = 0
while True:
    if x**3 > 1000:
        break
    print(x**3)
    x += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [10]:
primes = []
for num in range(2, 100): #start at 2, because 1 is not considered a prime
    prime = True
    for factor in range(2, num):
        if num == factor:
            continue
        if num % factor == 0:
            prime = False
            break
    if prime:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:
while True:
    age = input("Please enter your age: ")
    if age.isnumeric():
        break
age = int(age)
if age < 18:
    print('Kids')
elif age < 65: # unclear if 65 should be included
    print('Adults')
else: # as written, this will be 65+ group
    print('Seniors')

Please enter your age: adflk;j
Please enter your age: dkd
Please enter your age: 3kd
Please enter your age: 30
Adults